body{
  margin: 0px;
  padding: 0px;
  background-color: #000012;

  text-align: center;
  font-family: 'Grandstander', cursive;
  color:white;
}

.container{

  width: 85%;
  min-width: 800px;
  height: 2000px;


  background-image: url("../images/bg.jpg"); /* THE BACK SLASH FUCKED ME UP*/
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  margin-left: auto;
  margin-right: auto;

  cursor: default;
}

a:link {
  text-decoration: none;
  font-family: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.menu{

  text-align: left;
  position: fixed;
  width:15%
}

.menu img{
  width:80%;

}

.menu:hover .nav > div{
  display: block;
}

.nav{
    background-color: #ffffff10;
}

.nav > div{
  display: none;
  position: relative;
  margin: 10px;
  padding: 10px;
}

.nav > div:hover{
  text-decoration: underline;
}


.title{
  padding-top: 2%;
  font-size: 150%;
  text-shadow: 10px 10px #010101;


}

.quick-readme{

  width: 80%;
  margin: 0 auto;

  text-shadow: 5px 5px #010101;
}



.JS-project{
  background-color: #000020CC;
}

.info-icon{
  width:30px;
  margin-left: auto;
  cursor: pointer;
}
