.JS-project-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;

  margin:40px;
}

.info-icon{
  text-align: right;
  margin-top: 20px;
  margin-right: 25px;
}

.info{
  display: none;
  position:absolute;

  width: 300px;
  right: 32px;
  bottom: 100px;
  z-index: 1;
}

.info li{
  list-style: disc;
  text-align: left;

  margin-top: 10px;
}

.info-icon:hover .info{
  display: block;
}



.todo-container{
  margin: 0 auto;
  width: 360px;
}

#inputField{
  width: 300px;
  height:46px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

#addToDo{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
}

.to-dos{
  margin-top: 25px;
}

.paragraph-styling{
  margin: 0px;
  cursor: pointer;
  font-size: 20px;
}
