
body{
	padding: 0;
	margin: 0;
}

#main-container{
	height: 100%;	
}

#header{
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-between;
	width:80%;

	margin: 0 auto;

}

.header-background{
	display: flex;
	width: 100%;

	background-color: #3e3d50;
}

.icon{
	
	width: 50%;
	height: 80px;
	
	float: left;
	
	padding-top: 150px;
	
	background-image: url("./content/images/Logo_transparent.png");
	background-size: 70%;
	background-position: left;
	background-repeat: no-repeat;
}

.icon:hover{
	cursor: pointer;
}

.menu{
	
	float:right;

	

	padding-left: 45px;
	padding-top: 75px;

}

.menu button {
	background-color: Transparent;
	width: 100px;
	height: 50px;
	
	border: none;
		
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 30px;

}

.menu button:hover{
	color: #4ccc4f;
	font-size: 2rem;
}

#landing{
	background-color: #3e3d50;
	display: flex;
	
	justify-content: center;
	font-family: 'Bebas Neue', cursive;

	text-align: center;
	font-size: 100px;
	color: white;

	min-height: 80vh;
	padding-top:5vh;
	background-image: url("content/images/front_page.png");
	background-size: contain;
	background-position: bottom right;
	background-repeat: no-repeat;
}

#game_section{

	font-family: 'Dosis', sans-serif;
	color: black;
	font-size: 30px;

	width: 100%;

	text-align: center;
		
}

#game_section h2{
	text-align: right;
	padding: 0;
	margin: 0 5vw;
	
}

.game_list{
	margin: 0 auto;

	display: flex;
	
	justify-content: center;
	
	
}

.game_block{
	width: 50%;
	min-height: 50vh;
	margin: 10px;

	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 0px;
	color: white;
	
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.game_block:hover{
	
	display: flex;
	flex-direction: column;
	
	
	width: 80%;
	
	transition-property: width;
	transition-duration: 1.5s;
	transition-timing-function: ease-in-out;
	
	
	text-align: right;
	
	justify-content: space-between;

	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 80px;

}

.game_block:hover .game_block_spiel{
	display: block;
	font-size: 40px;
}

.game_block:hover .game_moreInfo{
	display: block;
}

.game_block_spiel{
	
	display: none;
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 0px;
	width: 100%;
	text-align: center;
}

.game_moreInfo{
	display: none;	
	float: right; 
	margin: 30px;
	
	padding: 10px;
	
	background-color: #3e3d50;
	border: none;
	
	width: 100px;
	
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size:15px;
	font-weight: bold;
}

.game_moreInfo:hover{		
		color: #4ccc4f;
}


#slogan{
	display: flex;
	background-color: #3e3d50;
	min-height: 75vh;
}

.about_us{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size:42px;
	
	height:75vh;
	width:100%;
	float: left;
}

.about_us p{
	font-size:18px;
	padding: 0 20px ;
}

.about_us h2{
	margin: 0px;
	padding-bottom: 0px;
	margin-left: 20px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 200px;
	color: white;
	
}

.bashful{
	width:50%;
	margin: 5vw;
	background-image: url("content/images/bashful.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}



.doris_me{
	font-family: 'Dosis', sans-serif;
	color: black;
	font-size: 20px;
	width: 100%;
	text-align: center;
		
}

#blogs{
	
	margin: 15px auto;
	
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
	
	width: 80%;
	min-height: 50vh;

}

#blogs h2:hover{
	cursor: pointer;
}

.blog_post{
	
	display: flex;
	flex-direction: column;
	
	max-width: 400px;
	height: 50vh;
	
	background-color: #E8E8E8;
	
	margin: 5px;

}

.blog_image{
	height: 800px;
	max-width: 700px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


.blog_title{
	font-family: 'Bebas Neue', cursive;
	padding: 0px;
	font-size: 40px;
	height:15%;
	text-align: center;
}
.blog_tag{
	font-family: 'Dosis', sans-serif;
	color: black;

	font-size:20px;

}

.blog_post button{
	background-color: #3e3d50;
	border: none;
	margin: 10px;
	
	width: 100px;
	
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size:15px;
	font-weight: bold;
}

.blog_post button:hover{
		color: #4ccc4f;
}

.spacer{
	height: 5vh;
	background-color: #3e3d50;
}

#newsletter{
	display: flex;
	height: 100%;

	margin: 0 auto;
	padding-top: 5vh;
	font-family: 'Dosis', sans-serif;
	color: black;
	font-size:20px;
	width:100%;
	height: 25vh;

	padding-bottom: 5vh;


}

.email_input{
	width:40vw;
		font-family: 'Dosis', sans-serif;
	color: black;
	font-size:20px;
}
.signupBox{

	display: flex;
	align-content: center;
	justify-content: center;
}

.signupBox button{
	font-family: 'Dosis', sans-serif;
	color: black;
	font-weight: bold;
	font-size:20px;
	
	background-color: Transparent;
	border-radius: 4px;
	border: 2px solid #4CAF50;

	width: 100px;
	height: 50px;
}

.signupBox button:hover{
	background-color:#4CAF50;
}

#footer{
	
	display: flex;
	background-color: #3e3d50;

	

	
	justify-content: space-around;
	
	padding-bottom: 20px;

}

.footerimage{
	display: flex;

	
	background-image: url("./content/images/Logo_transparent.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	width: 50vw;
	
	min-height: 10vh;

	margin: 60px;
}

.footercontact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size:15px;

	
	width: 50%;
	height: 100%;
}
.footercontact h1{
	font-size:25px;
}
.footercontact p{
	font-size:25px;
}

.socials button{
	width: 50px;
	height:50px;
	
	border-radius: 4px;
}

.twitter{

	
	background-image: url("content/images/twitter.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}
.instagram{

	
	background-image: url("content/images/instagram.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}
.youtube{

	
	background-image: url("content/images/youtube.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}

.artstation{

	
	background-image: url("content/images/artstation.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}

.twitter:hover , .youtube:hover, .instagram:hover,.artstation:hover{
	border:2px solid #A6CDB2;
}

.top_socials{

	position: absolute;
	right: 0;

	padding: 10px;
}
.top_socials button{
	opacity: 60%;
	width: 40px;
	height: 40px;
	

}

.top_socials button:hover{
	opacity: 100%;
}

button:hover{
	cursor: pointer;
}

h1:hover, h2:hover, h3:hover{
	cursor:default;
}

#mc_embed_signup{background:#fff; clear:left; width: 70%; margin: 0 auto; height: 100%; }

