.blog_1 .blog_image{
		background-image: url("content/images/blogs/nzgdc.png");
}

.blog_2 .blog_image{
		background-image: url("content/images/blogs/website.png");
}

.blog_3 .blog_image{
		background-image: url("content/images/blogs/vr.png");
}
