.game_1{
		background-image: url("content/images/genesis_jar.png");
}

.game_2{
		background-image: url("content/images/bashful_photo.png");
}

.game_3{
		background-image: url("content/images/test3.jpg");
}

.game_4{
		background-image: url("content/images/test4.jpg");
}