body{
    padding: 0%;
    margin: 0;
}

#main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe{
    position: fixed ;
    left: -350;
    bottom: -100;
    z-index: -1;
    min-width: 150%;
    min-height: 150%;

}

.heading{
    background-color: #1a1a1a1e;
    cursor: default;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 100px;
    padding-right: -100px;
}

.retna{
    font-family: 'Rock Salt', cursive;
    font-size: 10em;
}

.dotco{
    font-family: 'PT Serif', serif;
}

h1, h2, h3{
    margin: 0;
}

.quote{
    font-family: 'PT Serif', serif;
    font-size: 90%;
    width: 100%;
    position: relative;
    top: -90px;
    text-align: center;
}

#searchbox{
    position: absolute;
    top: 600px;
}

#searchbox input{
    padding: 10px 28px;
    font-family: serif;
    font-size: 80%;
}

#searchbox select{
    font-family: 'PT Serif', serif;
    padding: 10px 28px;
    font-size: 80%;
}

  input[type=button]{
    

    color: rgb(34, 34, 34);
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
  }