body{
    margin: 0;
    padding: 0;
}

#Main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Media/Website_BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

#unityContainer{
    height: 90vh;
    aspect-ratio: 1080/2200;
    background-color: white;
}

#CompanyLogos{
    position: fixed;
    right: 0;
    bottom: 0;

    display: flex;
    height: 10vh;
    padding: 3vh;
    transition: height 1s;
}

#FourFox img, #Retna img{
    opacity:0.6;
    height: 100%;
    transition: height 1s;

}

#FourFox img:hover, #Retna img:hover{
    opacity:1;
    height: 110%;
    transition: height 1s;

}

#CompanyLogos:hover{
    cursor: pointer;
    height: 12vh;

    transition: height 1s;

}
