body{
    margin: 0;
    padding: 0;
}

#Main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#060520, #3d93a4);
    height: 100vh;

}

#unityContainer{
    height: 90vh;
    aspect-ratio: 1080/2200;
}