body{
	padding: 0;
	margin: 0;
}

#header{


	justify-content: space-between;
	width:100%;

	padding-top: 10vh;


}

.header-background{	
	background-color: #3e3d50;
}

.icon{
	
	width: 80%;
	height: 10vh;
	margin: 0 auto;


	background-image: url("../content/images/Logo_transparent.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	width: 80%;
	height: 100px;
	
	
    padding-top: 100px;
    background-image: url(../content/images/Logo_transparent.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}


.menu{
	padding: 0 0;
	margin: 0 auto;
	justify-content: center;
}
.menu button {
	background-color: Transparent;
	width: 15vw;
	height: 10px;
	
	border: none;
		
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 20px;

}

.menu button:hover{
	color: #4ccc4f;
	width: 15vw;
	height: 10px;
	font-size: 20px;
}


#landing{
	display: flex;

	min-height: 70vh;
	width: 100%;
	
}



.contactSide{

	width:100%;
	text-align: center;

	background-image: url("../content/images/contact_us.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;

}

.contact_information{
	margin-top: 10vh; 
	display: flex;
	flex-direction: column;

	
	color: black;
	font-family: 'Dosis', sans-serif;
	font-size:20px;

}

.contact_information h1, .contact_information h3{
	padding: 0;
	margin: 0;
	
}


#footer{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #3e3d50;


}

.footerimage{
display: block;
height: 10vh;
	
	background-image: url("../content/images/Logo_transparent.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.footercontact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size:15px;

	
	width: 60%;
	height: 100%;
}

.footercontact p{
	font-size:25px;
}

.socials button{
	width: 50px;
	height:50px;
	
	border-radius: 4px;
}

.twitter{

	
	background-image: url("../content/images/twitter.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}
.instagram{

	
	background-image: url("../content/images/instagram.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}
.youtube{

	
	background-image: url("../content/images/youtube.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}

.artstation{

	
	background-image: url("../content/images/artstation.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}

.twitter:hover , .youtube:hover, .instagram:hover,.artstation:hover{
	border:2px solid #A6CDB2;
}

.top_socials{

	position: absolute;
	right: 0;
	background-color: #3e3d50;;
	text-align: right;
	padding: 10px;
}
.top_socials button{
	opacity: 60%;
	width: 40px;
	height: 40px;
	

}

.top_socials button:hover{
	opacity: 100%;
}

button:hover{
	cursor: pointer;
}

h1:hover, h2:hover, h3:hover{
	cursor:default;
}