body{
	padding: 0;
	margin: 0;
}


#header{
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-between;
	width:80%;
	height:100%;
	margin: 0 auto;

}

.header-background{
	display: flex;
	width: 100%;

	background-color: #3e3d50;
}

.icon{
	
	width: 50%;
	height: 100px;
	
	float: left;
	
	padding-top: 100px;
	
	background-image: url("../content/images/Logo_transparent.png");
	background-size: 50%;
	background-position: left;
	background-repeat: no-repeat;
}

.menu{
	
	float:right;

	
	padding-top:70px;
	padding-left: 45px;

}

.menu button {
	background-color: Transparent;
	width: 100px;

	
	border: none;
		
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 30px;

}

.menu button:hover{
	color: #4ccc4f;
	font-size: 2rem;
}


#landing{
	display: flex;

	min-height: 70vh;
	width: 100%;
	
}


.image{

	width: 50%;

	float: left;
	
	background-image: url("../content/images/invercargill.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

}

.contactSide{

	width:50%;
	float: right;

	background-image: url("../content/images/contact_us.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;

}

.contact_information{
	margin-top: 10vh; 
	display: flex;
	flex-direction: column;

	
	color: black;
	font-family: 'Dosis', sans-serif;
	font-size:30px;

}

.contact_information h1, .contact_information h3{
	padding: 0;
	margin: 0;
	
}


#footer{
	
	display: flex;
	background-color: #3e3d50;

	

	
	justify-content: space-around;
	
	padding-bottom: 20px;

}

.footerimage{
	display: flex;

	
	background-image: url("../content/images/Logo_transparent.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	width: 50%;
	margin: 60px;
}

.footercontact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size:15px;

	
	width: 50%;
	height: 100%;
}

.footercontact p{
	font-size:25px;
}

.socials button{
	width: 50px;
	height:50px;
	
	border-radius: 4px;
}

.twitter{

	
	background-image: url("../content/images/twitter.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}
.instagram{

	
	background-image: url("../content/images/instagram.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}
.youtube{

	
	background-image: url("../content/images/youtube.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}

.artstation{

	
	background-image: url("../content/images/artstation.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}

.twitter:hover , .youtube:hover, .instagram:hover,.artstation:hover{
	border:2px solid #A6CDB2;
}

.top_socials{

	position: absolute;
	right: 0;
	background-color: #3e3d50;;
	text-align: right;
	padding: 10px;
}
.top_socials button{
	opacity: 60%;
	width: 40px;
	height: 40px;
	

}

.top_socials button:hover{
	opacity: 100%;
}