body{
	padding: 0;
	margin: 0;
}

#main-container{
	height: 100vh;
	background-image: url("../content/images/contact_page.png");
	background-size: cover;
	background-repeat: no-repeat;

		

}

#header{
	width:80%;
	height:100%;
	margin: 0 auto;

}

.header-background{
	width: 100%;
	height: 180px;
	background-color: #3e3d50;
}

.icon{
	
	width: 50%;
	height: 100px;
	
	float: left;
	
	padding-top: 100px;
	
	background-image: url("../content/images/Logo_transparent.png");
	background-size: 50%;
	background-position: left;
	background-repeat: no-repeat;
}

.menu{
	
	float:right;

	
	padding-top:70px;
	padding-left: 45px;

}

.menu button {
	background-color: Transparent;
	width: 100px;
	height: 50px;
	
	border: none;
		
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 30px;

}

.menu button:hover{
	color: #4ccc4f;
	font-size: 2rem;
}


#landing{
	height: 90vh;
	
	
}