body{
	padding: 0;
	margin: 0;
}

#main-container{
	height: 100vh;
	background-image: url("../content/images/contact_page.png");
	background-size: cover;
	background-repeat: no-repeat;

		

}

#header{
	width:100%;
}

.icon{
	width: 50%;
	float:left;
	
	padding-top:50px;
	padding-left: 70px;
}

.menu{
	float:right;
	
	padding-top:70px;
	padding-right: 60px;
}

button {
	background-color: Transparent;
	width: 100px;
	height: 50px;
	
	border: 2px solid #4CAF50;
	float:left;

}

#landing{
	height: 90vh;
	
	
}