	
body{
	padding: 0;
	margin: 0;
}

#main-container{
	height: 100%;	
}

#header{
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-between;
	width:80%;

	margin: 0 auto;

}

.header-background{
	display: flex;
	width: 100%;

	background-color: #3e3d50;
}

.icon{
	
	width: 50%;
	height: 5vh;
	
	float: left;
	
	padding-top: 150px;
	
	background-image: url("../content/images/Logo_transparent.png");
	background-size:50%;
	background-position: left;
	background-repeat: no-repeat;
}

.icon:hover{
	cursor: pointer;
}

.menu{
	
	float:right;

	

	padding-left: 45px;
	padding-top: 75px;

}

.menu button {
	background-color: Transparent;
	width: 100px;
	height: 50px;
	
	border: none;
		
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 30px;

}

.menu button:hover{
	color: #4ccc4f;
	font-size: 2rem;
}

#landing{
	z-index: -1;
	height: 100%;
	background-image: url("../content/images/about_page.png");
	background-size: contain;
	background-repeat: no-repeat;	
	background-position: center left;
	
	padding-left: 50vw;
	padding-top: 10vh;
	padding-bottom: 5vh;

	
	font-family: 'Dosis', sans-serif;
	font-size: 23px;
	
}

.about_img{
	width: 40%;
	height: 150px;

	padding: 5vh;
	margin: 0;
	background-image: url("../content/images/about_image.png");
	background-size: contain;
	background-repeat: no-repeat;
	
}

.about_tag h2{
	padding: 0;
	margin: 0;
	
	color: #6c8ed3;
}

.speil{

	display: flex;
	width:80%;
	
	font-weight: lighter;

}

#the_team_panel{

	padding: 1vh 0;
	background-color: #1f1f27;
	
	font-family: 'Dosis', sans-serif;
	color:white;
}


#the_team_panel h1{
	
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 100px;
	padding: 1vh 0 0 10vw;
	
	margin:0;
}

#the_team_panel p{
	padding: 0 10vw;

}


.member_name{

	color: rgba(11,121,9,1);
	font-family: 'Bebas Neue', cursive;
	font-weight: 200;
	font-size: 25px;

	padding: 20px;

}

.member{
margin: 10px;
background-color: black;
aspect-ratio: 3/4;
height: 50vh;

}
	
#the_team_panels{
	
	width: 100%;
	
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	
	padding: 0 10vw;


	
}

#footer{
	
	display: flex;
	background-color: #3e3d50;

	

	
	justify-content: space-around;
	
	padding-bottom: 20px;

}

.footerimage{
	display: flex;

	
	background-image: url("../content/images/Logo_transparent.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	width: 50%;
	margin: 60px;
}

.footercontact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size:15px;

	
	width: 50%;
	height: 100%;
}

.footercontact p{
	font-size:25px;
}

.socials button{
	width: 50px;
	height:50px;
	
	border-radius: 4px;
}

.twitter{

	
	background-image: url("../content/images/twitter.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}
.instagram{

	
	background-image: url("../content/images/instagram.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}
.youtube{

	
	background-image: url("../content/images/youtube.png");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}

.artstation{

	
	background-image: url("../content/images/artstation.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	
	border: none;
}

.twitter:hover , .youtube:hover, .instagram:hover,.artstation:hover{
	border:2px solid #A6CDB2;
}

.top_socials{
	position: absolute;
	right: 0;
	background-color: #3e3d50;;
	text-align: right;
	padding: 10px;
}
.top_socials button{
	opacity: 60%;
	width: 40px;
	height: 40px;
	

}

.top_socials button:hover{
	opacity: 100%;
}
