/* CSS Document */
.member{
	margin: 10px;
	background-color: black;
	height: 50vh;
	width: 30%;
	
	text-align: center;
}

.member_image{
	height: 100%;
	width: 100%;
	
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	
	opacity: .75;
}

.member_name h2{
	margin: 0;
	padding: 0;
}


#member1_info, #member2_info, #member3_info{
	
	display:none;
	background-color: #727188;
	margin: 0 auto;
	width: 0;

	padding: 0 20px;
	font-size: 20px;
	
}

.member_image:hover{
	opacity: 1;	
	transition: opacity .4s;
}

.member_1 .member_image{
	background-image: url("./teamIMG/nathaniel.png");
	background-size: cover;
}

.member_2 .member_image{
	background-image: url("./teamIMG/john.png");
	background-position: top;
	background-size: cover;
	
}


.member_3 .member_image{
	background-image: url("./teamIMG/nathaniel.jpg");
}

.business{

}

.art{
	
}

.audio{
	background-color: #4ccc4f;
}
