body{
	background-image: url("./images/Background.jpg");
	background-size: cover;
	background-position: center;
	text-align:center;

	margin:0px;
	padding:0px;
}

.back-home{
	height:30px;
	text-align:right;
	margin: 20px;
	font-family: sans-serif;
}

hr {
  border: 1px dotted  white;
}

.container{
	background-color:#cfffcf50;



	margin-left:auto;
	margin-right:auto;
	width:100%;
	min-width: 700px;
	height: 100%;
	font-family: 'Shadows Into Light', cursive;

}

.header{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

.logo{
	display:flex;
	margin: 10px;
	margin-left: 30px;
}

.nav{
	display:flex;

	justify-content:flex-end;
  align-items: center;

	padding-right: 100px;

	text-decoration: underline;
}

.nav > div{
	margin-left:15px;
	margin-right: 10px;
}

.video-content-container{
	width: 100%;
	padding-top: 30px;
	display: flex;

	justify-content: center;
  align-items: center;


}

.video-content {

		width: 70%;
    height: 50%;
    padding-bottom: 35%; /* Change this till it fits the dimensions of your video */
    position: relative;


}

.video-content iframe{

	width: 90%;
    height: 90%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;



}

.key-features{
	font-size: 20px;
	text-decoration: underline;

}

.features-container{
	text-decoration: underline;
	width:70%;
	display:flex;
	flex-shrink: 1;
	justify-content: space-between;

	margin-left: auto;
	margin-right: auto;

}

.feature-logo{
	min-width:20px;
	min-height:20px;
	max-width: 200px;
	max-height: 200px;
}

.feature{
	margin:10px;
	min-width:80px;
	min-height:80px;
}

.avaliablity-form-container{

	margin: 40px;
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.calander-price-container{
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.calander{
	background-color: blue;
}

.prices-container{
	padding-left: 20px;
	background-color: teal;
	padding-bottom: 30px;
}

.prices{
	display: flex;
	flex-wrap: wrap;

	text-align:left;
	font-size: 110%;


}

.prices-container h1{
	text-decoration: underline;
	text-align:center;
	padding: 0px;
	margin:20px;
}

.prices h3{
	font-size: 150%;
	padding: 0px;
	margin:0px;
}

.prices p{
	font-style: italic;
	padding: 0px;
	margin:10px;
}

.contact-form{
	background-color: red;
}

.footer{
	height: 400px;
}
