body{
    margin: 0;
}

.landing{

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    color:floralwhite;

    background-image: url("./images/HDRI.jpg");
    background-position: center;
    background-size: cover;

}

.landing h1 , .landing p{
    padding: 0;
    margin: 0;
}

.onePage{
	height: 100vh;
}

.gridCenter{
	display: flex;
	
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 5vh;
}

#BaloonText{
    font-size: 300%;
}

.panel1 , .panel2 , .panel3, .panel4{
    width: 100%;
    background-image: url("./images/furballFloating2.png");
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
}

input:checked .gridCenter div{
    width: 500%;
    transition: width 1s;
    transition-timing-function: ease-out;
}