body{
    margin: 0;
}

.landing{

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    color:floralwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-image: url("./images/HDRI.jpg");
    background-position: center;
    background-size: cover;

}

.landing h1 , .landing p{
    padding: 0;
    margin: 0;
}

.onePage{
	height: 100vh;
}

.gridCenter{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	
	text-align: center;
}
