body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header{
    height: 105%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding-right: 50px;
    padding-left: 50px;
}

.logo h2 , h4{
    padding: 0;
    margin: 0;
}

.menu{
    text-align: right;

    display: flex;
}

.menu h2{
    padding-left: 5px;
}

.menu h2:hover{
    color: royalblue;
    cursor:pointer;
}

.landing{
    height: 95vh;
    background-image: url("./images/HDRI.jpg");
    background-size: cover;
    background-position:center;

    display: flex;

    justify-content: space-between;
    align-items: center;

    opacity: 1;
    transition: opacity , 1s;

}

.landing.fade{
    opacity: 0;
}


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: rgb(204, 206, 218);
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #f1f1f1;
    color: black;
  }
  
  .round {
    border-radius: 50%;

    margin: 50px;
  }

.adjustableGrid{

    height: 100vh;
    display: grid;

    gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(200px, .5fr) );
  }

  .Panels{
      background-position: center;
      background-size:cover;
      background-repeat: no-repeat;

      display: flex;
      justify-content: center;
      align-items: flex-end;

      opacity: 0.65;
  }

  .Panels:hover{
      opacity: 1;
      transition: opacity 0.5s;
  }

  .furPanel{
    background-image: url("./images/furballFloating2.png");
  }

  .clothPanel{
    background-image: url("./images/Cloth.png");
  }

  .FXPanel{
    background-image: url("./images/furballFloating2.png");
  }

  .fluidPanel{
    background-image: url("./images/furballFloating2.png");
  }

  .environmentPanel{
    background-image: url("./images/Environment.jpg");
  }

  .sculptingPanel{
    background-image: url("./images/furballFloating2.png");
  }

  .characterPanel{
      background-image: url("./images/Character.png");
  }

  .creaturePanel{
      background-image: url("./images/furballFloating.png");
  }

  

  #myBtn{
      padding: 10px;
      margin-bottom: 20px;
  }

  .buttonTitle{
      margin: 0 auto;
      text-align: center;
  }

  #myBtn:hover{
    cursor:pointer;

  }
  .twoPanel{
      height: 80vh;

      display: grid;

    gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(250px, .5fr) );
  }

  .personal{
      padding-left: 30px;
  }

  .contact{
      margin: 0 auto;
  }
  .footer{
      height: 100%;
      background-color:powderblue;
  }